<!DOCTYPE html>
<html>
<head>
	

   	<!-- <link rel="stylesheet" type ="text/css" href="./stylesheets/cat-temp.css"/> -->

   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type ="text/css" href="./stylesheets/cat-<%=category%>.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src = "./scripts/scripts_cs.js"></script>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
</head>

<body class = "cat-template">

	<div class = "container-fluid">

	<!-- 	START HEADER -->
		<div class = "row header">
<!-- 			<div class = "row"> -->
				<div class= "col-sm-12 title">	
					<div class="col-sm-3"> 
						<h1>FESTOPIA</h1>
					</div>

				<!-- 	TEXT GENERATOR -->

					<!-- <div class="col-sm-6">
						<div id = "typing-header-wrapper">
							<h3 id = "typing-header" class = "text-white space-bottom-medium"></h3>
							<span id = "upright-typing-cursor"></span>
						</div>
					</div> -->
					<div class="col-sm-4 category-title text-center">
						<span class="title-waxon"><%=title%></span></h2>
					</div>

					<!-- SOCIAL MEDIA ICONS -->
					<div class="col-sm-4 col-sm-offset-1 icons"> 
						<!-- <div id="social-media"> -->
				            <a href="#" class="fa fa-facebook"></a>
				            <a href="#" class="fa fa-twitter"></a>
				            <a href="#" class="fa fa-instagram"></a>
				            <a href="#" class="fa fa-snapchat-ghost"></a>
				            <a href="#" class="fa fa-tumblr"></a>
						<!-- </div> -->
					</div>
			
				</div>		
			<!-- </div> -->
		</div>


		
		<div class="row">
			<div class="col-sm-2 home" id="home">
					<a href="/">
<<<<<<< HEAD
						<div>< Go Home</div>
=======
						<< Go Home
>>>>>>> 4c12634cf39512eecc8172264c927b6879abd42b
					</a>
			</div>
		</div>

		<div class="row main-content">
			<div class="col-sm-4 sidebar">
				<div class="row">
		           	<!--  START SIDE BAR MENU -->
					<div class="col-sm-3 category">
						<div class=" message-test">

					<!-- message removed -->

						</div>
						<ol class = "sidebar-cat">
							<li>
								<form id="search-form" action="/search" method="post" accept-charset="utf-8">
									  <input type="text" placeholder="search festival name" name="name" />
									  <input type="date" class="form-control" name="date" value= ""/>
									  <input type="text" class="form-control" name="category" value= "<%=title%>" style="display: none;"/>
									  <!-- <select name="family"> -->
									  	<!-- <option value="1">Yes</option> -->
									  	<!-- <option value="0">No</option> -->
									  <!-- </select> -->
									  Show only family friendly events?<input type="checkbox" name="family" value="1"> 
									  Show only free events?<input type="checkbox" name="free" value="1"> 
									  <button type="submit" id="nameSearch" class="btn btn-primary">Submit</button>
								</form>
									<div class="col-sm-6">
							            <!--   USER MODAL -->
							          <div class="col-sm-1 col-sm-offset-7" id="message-modal">
							              <div class = "modal-open" data-modal3 = "modal-message">
							                  <div class="modal-inner"  style="display: none;">	
							                  	<%=message%>	
							                      <a class="modal-close" data-modal-close3="modal-message" href="#">x</a>	
							               		</div>
							           		</div>
					          			</div>
					          		</div>	
							</li>

							<!-- <li> -->
								<!-- <div class="input-date"> -->
									<!-- <input type="date" class="form-control" name="date" value= ""/> -->
								<!-- </div> -->
							<!-- </li> -->


							<!-- <li>
								<div id = "button1">
									<button type="button" name="family" id="family" class="btn btn-primary">Family-Friendly</button>
								</div>	
							</li> -->


							<!-- <li>
								<div id="button2">
									<button type="button" name="free" id = "free" class="btn btn-primary">Free</button>
								</div>
							</li> -->
						</ol> 
					</div>
				</div>
			</div>

	 
							<!-- START RESULT CARDS -->
					
			<div class= "col-sm-8 right1">
				<div class="row">
				<%for(let i = 0; i < searchArray.length; i++){ %>
					<div class= "col-sm-3 col-sm-offset-1 result cards">
					    <header><%=searchArray[i].Name%><header>
					    <div class="card horizontal">
						    <div class="card-image">
						        <img src=<%=searchArray[i].imgUrl%>>
							</div>
						    <div class="card-stacked">
							    <div class="card-content">
							        <span><p id="location"><%=searchArray[i].Location%></p></span>
							        <span><p id="date"><%=searchArray[i].Date%></p></span>
							    </div>
						    	<div class="card-action">
						        	<a href=<%=searchArray[i].linkUrl%>>Go to Website</a>
						    	</div>
					    	</div>
				   		</div>
					</div>
				<%}%>
				</div>
			</div>
		</div>
	
	</div>
</body>

</html>